<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>failure page</title>
</head>
<body style="margin: 0;">
    <div class="failure">
        <h1 style="font-size: 3vw;">Uh oh!</h1>
        <p style="font-size: 1.5vw;">There was a problem signing you up. Please try again or contact the developer!</p>
        <form action="/" method="post">
            <button class="button">Try again</button>
        </form>
    </div>
</body>
</html>