<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Success page</title>
</head>
<body style="margin: 0;">
    <div class="success">
        <h1 style="font-size: 3vw;">Awesome!</h1>
        <p style="font-size: 1.5vw;">You have successfully signed up to the newsletter, look forward to lots of awesome content!</p>
    </div>
</body>
</html>